<a href="https://colab.research.google.com/github/LucianaPeroni/Data-Twitter-Eleicoes-2022/blob/main/DTE_EDA%2CStorytelling_e_Visualuza%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Etapa 3 - EDA,Storytelling e Visualuzação

Bibliotecas

In [54]:
import pandas as pd
import re #expressões regulares

In [55]:
dataframe_unico_candidatos = pd.read_csv('dataframe_unico_candidatos.csv')

In [56]:
dataframe_unico_candidatos.head()

,Data_hora,idTweet,Tweet,Candidato
0,2022-07-31 08:41:01+00:00,1553662000097644546,@brasildefato LULA COMPRADO ALCKEMIN https://t...,Lula
1,2022-07-31 08:40:56+00:00,1553661978626899968,@senadorhumberto @CamiloSantanaCE @elmanofreit...,Lula
2,2022-07-31 08:40:49+00:00,1553661949694590977,@LulaOficial PQP o cara tem q ser muito idiota...,Lula
3,2022-07-31 08:40:44+00:00,1553661931575054336,@kazuhaC1G1P1 HY LULAAA. Kalo gua sukanya film...,Lula
4,2022-07-31 08:40:32+00:00,1553661881889464320,"@Rocha7591 E a do Lula não põe ?? 73.000,00 po...",Lula

In [57]:
dataframe_unico_candidatos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 453 entries, 0 to 452
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Data_hora  453 non-null    object
 1   idTweet    453 non-null    int64
 2   Tweet      453 non-null    object
 3   Candidato  453 non-null    object
dtypes: int64(1), object(3)
memory usage: 14.3+ KB

In [58]:
dataframe_unico_candidatos.isnull().sum()

Data_hora    0
idTweet      0
Tweet        0
Candidato    0
dtype: int64

In [59]:
dataframe_unico_candidatos['Tweet_limpo']=dataframe_unico_candidatos['Tweet']

In [60]:
def limpeza_texto(tweet):
  tweet = tweet.lower()
  #tweet = re.sub('\n','',tweet)
  #tweet = re.sub('@[^\s]','',tweet)
  #tweet = re.sub('\B#\S+','',tweet)
  #tweet = re.sub('https?://\S+|www\.\S+','',tweet)
  return tweet

In [61]:
dataframe_unico_candidatos['Tweet_limpo']=dataframe_unico_candidatos['Tweet'].apply(lambda i:limpeza_texto(i))

In [62]:
dataframe_unico_candidatos.head()

,Data_hora,idTweet,Tweet,Candidato,Tweet_limpo
0,2022-07-31 08:41:01+00:00,1553662000097644546,@brasildefato LULA COMPRADO ALCKEMIN https://t...,Lula,@brasildefato lula comprado alckemin https://t...
1,2022-07-31 08:40:56+00:00,1553661978626899968,@senadorhumberto @CamiloSantanaCE @elmanofreit...,Lula,@senadorhumberto @camilosantanace @elmanofreit...
2,2022-07-31 08:40:49+00:00,1553661949694590977,@LulaOficial PQP o cara tem q ser muito idiota...,Lula,@lulaoficial pqp o cara tem q ser muito idiota...
3,2022-07-31 08:40:44+00:00,1553661931575054336,@kazuhaC1G1P1 HY LULAAA. Kalo gua sukanya film...,Lula,@kazuhac1g1p1 hy lulaaa. kalo gua sukanya film...
4,2022-07-31 08:40:32+00:00,1553661881889464320,"@Rocha7591 E a do Lula não põe ?? 73.000,00 po...",Lula,"@rocha7591 e a do lula não põe ?? 73.000,00 po..."

In [63]:
dataframe_unico_candidatos.to_csv('dataframe_unico_candidatos_ok.csv',sep=',', index=False)